# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Environment
.env
.venv
venv/
env/

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
local_settings.py